header{
  background-color: orange;
  color: white;
  text-align: center;
  padding: 5px;
  
}

.column-1{
  background-color: blue;
  width: 48.95%;
  display: inline-block;
  float: left;
  padding: 5px;
  vertical-align: bottom;
  height: 100%;
 
 
}

.column-1 a {
  color: white;
}

.column-2{
  background-color: red;
  width: 48.95%;
  display: inline-block;
  float: right;
  padding: 5px;
  vertical-align: bottom;
  height: 100%;

}

footer{
  background-color: black;
  clear: both;
  color: white;
  text-align: center;
  padding: 5px;
}

body{
  max-width: 960px;
  height: 1000px;
  margin: 0 auto;
  font-family: Helvetica, sans-serif;
}

h2{
  color: white;
}